/*  highpressure /data/prod/weatherproof/cnf/img/high.png Over 1 */
/*  lowpressure /data/prod/weatherproof/cnf/img/low.png Over 1 */
.Pressure_9000 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_902469135802 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_904938271605 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_907407407407 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_90987654321 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_912345679012 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_914814814815 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_917283950617 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_91975308642 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_922222222222 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_924691358025 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_927160493827 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_92962962963 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_932098765432 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_934567901235 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_937037037037 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_93950617284 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_941975308642 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_944444444444 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_946913580247 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_949382716049 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_951851851852 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_954320987654 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_956790123457 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_959259259259 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_961728395062 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_964197530864 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_966666666667 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_969135802469 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_971604938272 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_974074074074 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_976543209877 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_979012345679 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_981481481481 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_983950617284 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_986419753086 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_988888888889 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_991358024691 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_993827160494 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_996296296296 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_998765432099 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_10012345679 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_10037037037 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_100617283951 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_100864197531 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_101111111111 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_101358024691 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_101604938272 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_101851851852 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_102098765432 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_102345679012 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_102592592593 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_102839506173 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_103086419753 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_103333333333 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_103580246914 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_103827160494 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_104074074074 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_104320987654 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_104567901235 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_104814814815 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_105061728395 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_105308641975 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_105555555556 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_105802469136 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_106049382716 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_106296296296 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_106543209877 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_106790123457 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_107037037037 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_107283950617 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_107530864198 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_107777777778 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_108024691358 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_108271604938 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_108518518519 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_108765432099 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_109012345679 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_109259259259 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_10950617284 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Pressure_10975308642 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }