/*.Wind { fill:none; stroke: black; stroke-width: 1.5px }*/
.Wind3 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Wind5 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Wind7 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Wind10 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Wind14 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Wind17 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
.Wind21 { fill: none; stroke: rgba(0.0,0.0,0.0,1.00); }
