.ff-ms_14_  	{ stroke: none; fill: #84FBBB }
.ff-ms_14_16	{ stroke: none; fill: #75D741 }
.ff-ms_16_18 	{ stroke: none; fill: #FFFF54 }
.ff-ms_18_20	{ stroke: none; fill: #F9DB4B }
.ff-ms_20_22	{ stroke: none; fill: #EF9637 }
.ff-ms_22_24	{ stroke: none; fill: #EA3324 }
.ff-ms_24_26	{ stroke: none; fill: #C82A1D }
.ff-ms_26_28	{ stroke: none; fill: #A72116 }
.ff-ms_28_30	{ stroke: none; fill: #C82AF7 }
.ff-ms_30_32	{ stroke: none; fill: #F096FA }
.ff-ms_32_34	{ stroke: none; fill: #FEFEFB }
.ff-ms_34_36	{ stroke: none; fill: #75FBFD }
.ff-ms_36_38	{ stroke: none; fill: #51B3F9 }
.ff-ms_38_40	{ stroke: none; fill: #0000F5 }
.ff-ms_40	    { stroke: none; fill: #4d0090 }

