.Temp05_lt_m50	{ stroke: none; fill: rgba(154,8,117,1.00); }
.Temp05_m50p0_m49p5	{ stroke: none; fill: rgba(154,8,119,1.00); }
.Temp05_m49p5_m49p0	{ stroke: none; fill: rgba(152,7,124,1.00); }
.Temp05_m49p0_m48p5	{ stroke: none; fill: rgba(152,7,129,1.00); }
.Temp05_m48p5_m48p0	{ stroke: none; fill: rgba(150,7,134,1.00); }
.Temp05_m48p0_m47p5	{ stroke: none; fill: rgba(150,6,138,1.00); }
.Temp05_m47p5_m47p0	{ stroke: none; fill: rgba(148,6,143,1.00); }
.Temp05_m47p0_m46p5	{ stroke: none; fill: rgba(148,5,148,1.00); }
.Temp05_m46p5_m46p0	{ stroke: none; fill: rgba(146,5,153,1.00); }
.Temp05_m46p0_m45p5	{ stroke: none; fill: rgba(146,5,157,1.00); }
.Temp05_m45p5_m45p0	{ stroke: none; fill: rgba(144,4,162,1.00); }
.Temp05_m45p0_m44p5	{ stroke: none; fill: rgba(144,4,167,1.00); }
.Temp05_m44p5_m44p0	{ stroke: none; fill: rgba(142,3,172,1.00); }
.Temp05_m44p0_m43p5	{ stroke: none; fill: rgba(142,3,176,1.00); }
.Temp05_m43p5_m43p0	{ stroke: none; fill: rgba(140,3,181,1.00); }
.Temp05_m43p0_m42p5	{ stroke: none; fill: rgba(140,2,186,1.00); }
.Temp05_m42p5_m42p0	{ stroke: none; fill: rgba(138,2,191,1.00); }
.Temp05_m42p0_m41p5	{ stroke: none; fill: rgba(138,1,195,1.00); }
.Temp05_m41p5_m41p0	{ stroke: none; fill: rgba(136,1,200,1.00); }
.Temp05_m41p0_m40p5	{ stroke: none; fill: rgba(136,1,205,1.00); }
.Temp05_m40p5_m40p0	{ stroke: none; fill: rgba(134,0,210,1.00); }
.Temp05_m40p0_m39p5	{ stroke: none; fill: rgba(131,0,211,1.00); }
.Temp05_m39p5_m39p0	{ stroke: none; fill: rgba(124,1,210,1.00); }
.Temp05_m39p0_m38p5	{ stroke: none; fill: rgba(118,2,208,1.00); }
.Temp05_m38p5_m38p0	{ stroke: none; fill: rgba(111,3,206,1.00); }
.Temp05_m38p0_m37p5	{ stroke: none; fill: rgba(105,4,205,1.00); }
.Temp05_m37p5_m37p0	{ stroke: none; fill: rgba(98,5,203,1.00); }
.Temp05_m37p0_m36p5	{ stroke: none; fill: rgba(92,6,201,1.00); }
.Temp05_m36p5_m36p0	{ stroke: none; fill: rgba(85,7,200,1.00); }
.Temp05_m36p0_m35p5	{ stroke: none; fill: rgba(79,8,198,1.00); }
.Temp05_m35p5_m35p0	{ stroke: none; fill: rgba(72,9,196,1.00); }
.Temp05_m35p0_m34p5	{ stroke: none; fill: rgba(66,9,195,1.00); }
.Temp05_m34p5_m34p0	{ stroke: none; fill: rgba(59,10,193,1.00); }
.Temp05_m34p0_m33p5	{ stroke: none; fill: rgba(53,11,191,1.00); }
.Temp05_m33p5_m33p0	{ stroke: none; fill: rgba(46,12,190,1.00); }
.Temp05_m33p0_m32p5	{ stroke: none; fill: rgba(40,13,188,1.00); }
.Temp05_m32p5_m32p0	{ stroke: none; fill: rgba(33,14,186,1.00); }
.Temp05_m32p0_m31p5	{ stroke: none; fill: rgba(27,15,185,1.00); }
.Temp05_m31p5_m31p0	{ stroke: none; fill: rgba(20,16,183,1.00); }
.Temp05_m31p0_m30p5	{ stroke: none; fill: rgba(14,17,181,1.00); }
.Temp05_m30p5_m30p0	{ stroke: none; fill: rgba(7,18,180,1.00); }
.Temp05_m30p0_m29p5	{ stroke: none; fill: rgba(4,20,179,1.00); }
.Temp05_m29p5_m29p0	{ stroke: none; fill: rgba(4,23,178,1.00); }
.Temp05_m29p0_m28p5	{ stroke: none; fill: rgba(4,26,178,1.00); }
.Temp05_m28p5_m28p0	{ stroke: none; fill: rgba(3,29,178,1.00); }
.Temp05_m28p0_m27p5	{ stroke: none; fill: rgba(3,32,177,1.00); }
.Temp05_m27p5_m27p0	{ stroke: none; fill: rgba(3,35,177,1.00); }
.Temp05_m27p0_m26p5	{ stroke: none; fill: rgba(3,38,176,1.00); }
.Temp05_m26p5_m26p0	{ stroke: none; fill: rgba(2,41,176,1.00); }
.Temp05_m26p0_m25p5	{ stroke: none; fill: rgba(2,44,176,1.00); }
.Temp05_m25p5_m25p0	{ stroke: none; fill: rgba(2,47,175,1.00); }
.Temp05_m25p0_m24p5	{ stroke: none; fill: rgba(2,51,175,1.00); }
.Temp05_m24p5_m24p0	{ stroke: none; fill: rgba(2,54,174,1.00); }
.Temp05_m24p0_m23p5	{ stroke: none; fill: rgba(2,57,174,1.00); }
.Temp05_m23p5_m23p0	{ stroke: none; fill: rgba(1,60,174,1.00); }
.Temp05_m23p0_m22p5	{ stroke: none; fill: rgba(1,63,173,1.00); }
.Temp05_m22p5_m22p0	{ stroke: none; fill: rgba(1,66,173,1.00); }
.Temp05_m22p0_m21p5	{ stroke: none; fill: rgba(1,69,172,1.00); }
.Temp05_m21p5_m21p0	{ stroke: none; fill: rgba(0,72,172,1.00); }
.Temp05_m21p0_m20p5	{ stroke: none; fill: rgba(0,75,172,1.00); }
.Temp05_m20p5_m20p0	{ stroke: none; fill: rgba(0,78,171,1.00); }
.Temp05_m20p0_m19p5	{ stroke: none; fill: rgba(2,82,173,1.00); }
.Temp05_m19p5_m19p0	{ stroke: none; fill: rgba(5,87,177,1.00); }
.Temp05_m19p0_m18p5	{ stroke: none; fill: rgba(8,91,182,1.00); }
.Temp05_m18p5_m18p0	{ stroke: none; fill: rgba(11,96,186,1.00); }
.Temp05_m18p0_m17p5	{ stroke: none; fill: rgba(14,100,190,1.00); }
.Temp05_m17p5_m17p0	{ stroke: none; fill: rgba(18,104,194,1.00); }
.Temp05_m17p0_m16p5	{ stroke: none; fill: rgba(21,109,198,1.00); }
.Temp05_m16p5_m16p0	{ stroke: none; fill: rgba(24,113,202,1.00); }
.Temp05_m16p0_m15p5	{ stroke: none; fill: rgba(27,118,207,1.00); }
.Temp05_m15p5_m15p0	{ stroke: none; fill: rgba(30,122,211,1.00); }
.Temp05_m15p0_m14p5	{ stroke: none; fill: rgba(34,127,215,1.00); }
.Temp05_m14p5_m14p0	{ stroke: none; fill: rgba(37,131,219,1.00); }
.Temp05_m14p0_m13p5	{ stroke: none; fill: rgba(40,136,224,1.00); }
.Temp05_m13p5_m13p0	{ stroke: none; fill: rgba(43,140,228,1.00); }
.Temp05_m13p0_m12p5	{ stroke: none; fill: rgba(46,145,232,1.00); }
.Temp05_m12p5_m12p0	{ stroke: none; fill: rgba(50,149,236,1.00); }
.Temp05_m12p0_m11p5	{ stroke: none; fill: rgba(53,153,240,1.00); }
.Temp05_m11p5_m11p0	{ stroke: none; fill: rgba(56,158,244,1.00); }
.Temp05_m11p0_m10p5	{ stroke: none; fill: rgba(59,162,249,1.00); }
.Temp05_m10p5_m10p0	{ stroke: none; fill: rgba(62,167,253,1.00); }
.Temp05_m10p0_m9p5	{ stroke: none; fill: rgba(61,168,252,1.00); }
.Temp05_m9p5_m9p0	{ stroke: none; fill: rgba(54,167,245,1.00); }
.Temp05_m9p0_m8p5	{ stroke: none; fill: rgba(48,166,238,1.00); }
.Temp05_m8p5_m8p0	{ stroke: none; fill: rgba(42,164,231,1.00); }
.Temp05_m8p0_m7p5	{ stroke: none; fill: rgba(35,163,224,1.00); }
.Temp05_m7p5_m7p0	{ stroke: none; fill: rgba(29,161,217,1.00); }
.Temp05_m7p0_m6p5	{ stroke: none; fill: rgba(22,160,210,1.00); }
.Temp05_m6p5_m6p0	{ stroke: none; fill: rgba(16,158,203,1.00); }
.Temp05_m6p0_m5p5	{ stroke: none; fill: rgba(10,157,196,1.00); }
.Temp05_m5p5_m5p0	{ stroke: none; fill: rgba(3,156,189,1.00); }
.Temp05_m5p0_m4p5	{ stroke: none; fill: rgba(11,160,189,1.00); }
.Temp05_m4p5_m4p0	{ stroke: none; fill: rgba(32,170,196,1.00); }
.Temp05_m4p0_m3p5	{ stroke: none; fill: rgba(53,180,203,1.00); }
.Temp05_m3p5_m3p0	{ stroke: none; fill: rgba(74,190,210,1.00); }
.Temp05_m3p0_m2p5	{ stroke: none; fill: rgba(95,200,217,1.00); }
.Temp05_m2p5_m2p0	{ stroke: none; fill: rgba(117,210,224,1.00); }
.Temp05_m2p0_m1p5	{ stroke: none; fill: rgba(138,220,231,1.00); }
.Temp05_m1p5_m1p0	{ stroke: none; fill: rgba(159,230,238,1.00); }
.Temp05_m1p0_m0p5	{ stroke: none; fill: rgba(180,240,245,1.00); }
.Temp05_m0p5_0p0	{ stroke: none; fill: rgba(201,250,252,1.00); }
.Temp05_0p0_0p5	{ stroke: none; fill: rgba(255,254,198,1.00); }
.Temp05_0p5_1p0	{ stroke: none; fill: rgba(255,253,192,1.00); }
.Temp05_1p0_1p5	{ stroke: none; fill: rgba(255,251,188,1.00); }
.Temp05_1p5_2p0	{ stroke: none; fill: rgba(255,250,182,1.00); }
.Temp05_2p0_2p5	{ stroke: none; fill: rgba(255,248,178,1.00); }
.Temp05_2p5_3p0	{ stroke: none; fill: rgba(255,247,172,1.00); }
.Temp05_3p0_3p5	{ stroke: none; fill: rgba(255,245,168,1.00); }
.Temp05_3p5_4p0	{ stroke: none; fill: rgba(255,244,162,1.00); }
.Temp05_4p0_4p5	{ stroke: none; fill: rgba(255,242,158,1.00); }
.Temp05_4p5_5p0	{ stroke: none; fill: rgba(255,241,152,1.00); }
.Temp05_5p0_5p5	{ stroke: none; fill: rgba(255,239,148,1.00); }
.Temp05_5p5_6p0	{ stroke: none; fill: rgba(255,237,142,1.00); }
.Temp05_6p0_6p5	{ stroke: none; fill: rgba(255,235,138,1.00); }
.Temp05_6p5_7p0	{ stroke: none; fill: rgba(255,233,132,1.00); }
.Temp05_7p0_7p5	{ stroke: none; fill: rgba(255,231,128,1.00); }
.Temp05_7p5_8p0	{ stroke: none; fill: rgba(255,229,122,1.00); }
.Temp05_8p0_8p5	{ stroke: none; fill: rgba(255,227,118,1.00); }
.Temp05_8p5_9p0	{ stroke: none; fill: rgba(255,225,112,1.00); }
.Temp05_9p0_9p5	{ stroke: none; fill: rgba(255,223,108,1.00); }
.Temp05_9p5_10p0	{ stroke: none; fill: rgba(255,221,102,1.00); }
.Temp05_10p0_10p5	{ stroke: none; fill: rgba(255,218,99,1.00); }
.Temp05_10p5_11p0	{ stroke: none; fill: rgba(255,214,97,1.00); }
.Temp05_11p0_11p5	{ stroke: none; fill: rgba(255,210,95,1.00); }
.Temp05_11p5_12p0	{ stroke: none; fill: rgba(255,206,93,1.00); }
.Temp05_12p0_12p5	{ stroke: none; fill: rgba(255,202,91,1.00); }
.Temp05_12p5_13p0	{ stroke: none; fill: rgba(255,198,89,1.00); }
.Temp05_13p0_13p5	{ stroke: none; fill: rgba(255,194,87,1.00); }
.Temp05_13p5_14p0	{ stroke: none; fill: rgba(255,190,85,1.00); }
.Temp05_14p0_14p5	{ stroke: none; fill: rgba(255,186,83,1.00); }
.Temp05_14p5_15p0	{ stroke: none; fill: rgba(255,182,81,1.00); }
.Temp05_15p0_15p5	{ stroke: none; fill: rgba(255,178,79,1.00); }
.Temp05_15p5_16p0	{ stroke: none; fill: rgba(255,172,77,1.00); }
.Temp05_16p0_16p5	{ stroke: none; fill: rgba(255,168,75,1.00); }
.Temp05_16p5_17p0	{ stroke: none; fill: rgba(255,162,73,1.00); }
.Temp05_17p0_17p5	{ stroke: none; fill: rgba(255,158,71,1.00); }
.Temp05_17p5_18p0	{ stroke: none; fill: rgba(255,152,69,1.00); }
.Temp05_18p0_18p5	{ stroke: none; fill: rgba(255,148,67,1.00); }
.Temp05_18p5_19p0	{ stroke: none; fill: rgba(255,142,65,1.00); }
.Temp05_19p0_19p5	{ stroke: none; fill: rgba(255,138,63,1.00); }
.Temp05_19p5_20p0	{ stroke: none; fill: rgba(255,132,61,1.00); }
.Temp05_20p0_20p5	{ stroke: none; fill: rgba(255,127,60,1.00); }
.Temp05_20p5_21p0	{ stroke: none; fill: rgba(255,121,58,1.00); }
.Temp05_21p0_21p5	{ stroke: none; fill: rgba(255,115,58,1.00); }
.Temp05_21p5_22p0	{ stroke: none; fill: rgba(255,109,56,1.00); }
.Temp05_22p0_22p5	{ stroke: none; fill: rgba(255,103,56,1.00); }
.Temp05_22p5_23p0	{ stroke: none; fill: rgba(255,97,54,1.00); }
.Temp05_23p0_23p5	{ stroke: none; fill: rgba(255,91,54,1.00); }
.Temp05_23p5_24p0	{ stroke: none; fill: rgba(255,85,52,1.00); }
.Temp05_24p0_24p5	{ stroke: none; fill: rgba(255,79,52,1.00); }
.Temp05_24p5_25p0	{ stroke: none; fill: rgba(255,73,50,1.00); }
.Temp05_25p0_25p5	{ stroke: none; fill: rgba(253,68,49,1.00); }
.Temp05_25p5_26p0	{ stroke: none; fill: rgba(250,62,47,1.00); }
.Temp05_26p0_26p5	{ stroke: none; fill: rgba(246,58,45,1.00); }
.Temp05_26p5_27p0	{ stroke: none; fill: rgba(243,52,43,1.00); }
.Temp05_27p0_27p5	{ stroke: none; fill: rgba(239,48,41,1.00); }
.Temp05_27p5_28p0	{ stroke: none; fill: rgba(236,42,39,1.00); }
.Temp05_28p0_28p5	{ stroke: none; fill: rgba(232,38,37,1.00); }
.Temp05_28p5_29p0	{ stroke: none; fill: rgba(229,32,35,1.00); }
.Temp05_29p0_29p5	{ stroke: none; fill: rgba(225,28,33,1.00); }
.Temp05_29p5_30p0	{ stroke: none; fill: rgba(222,22,31,1.00); }
.Temp05_30p0_30p5	{ stroke: none; fill: rgba(218,19,28,1.00); }
.Temp05_30p5_31p0	{ stroke: none; fill: rgba(212,17,26,1.00); }
.Temp05_31p0_31p5	{ stroke: none; fill: rgba(208,15,22,1.00); }
.Temp05_31p5_32p0	{ stroke: none; fill: rgba(202,13,20,1.00); }
.Temp05_32p0_32p5	{ stroke: none; fill: rgba(198,11,16,1.00); }
.Temp05_32p5_33p0	{ stroke: none; fill: rgba(192,9,14,1.00); }
.Temp05_33p0_33p5	{ stroke: none; fill: rgba(188,7,10,1.00); }
.Temp05_33p5_34p0	{ stroke: none; fill: rgba(182,5,8,1.00); }
.Temp05_34p0_34p5	{ stroke: none; fill: rgba(178,3,4,1.00); }
.Temp05_34p5_35p0	{ stroke: none; fill: rgba(172,1,2,1.00); }
.Temp05_35p0_35p5	{ stroke: none; fill: rgba(167,0,2,1.00); }
.Temp05_35p5_36p0	{ stroke: none; fill: rgba(160,0,8,1.00); }
.Temp05_36p0_36p5	{ stroke: none; fill: rgba(153,0,12,1.00); }
.Temp05_36p5_37p0	{ stroke: none; fill: rgba(147,0,18,1.00); }
.Temp05_37p0_37p5	{ stroke: none; fill: rgba(140,0,22,1.00); }
.Temp05_37p5_38p0	{ stroke: none; fill: rgba(133,0,28,1.00); }
.Temp05_gt_38p0	{ stroke: none; fill: rgba(130,0,30,1.00); }
