.wildfire_pm25_01_1 {fill: rgba(30,157,68,1.00);}
.wildfire_pm25_1_10 {fill: rgba(126,211,33,1.00);}
.wildfire_pm25_10_25 {fill: rgba(248,231,28,1.00);}
.wildfire_pm25_25_50 {fill: rgba(255,166,0,1.00);}
.wildfire_pm25_50_75 {fill: rgba(208,2,27,1.00);}
.wildfire_pm25_75_200 {fill: rgba(144,19,254,1.00);}
.wildfire_pm25_200 {fill: rgba(0,0,0,1.00);}