.Temperature_inf_14	{ stroke:none; fill: rgb(154,8,117) }
.Temperature_14_12	{ stroke:none; fill: rgb(17,141,250) }
.Temperature_12_10	{ stroke:none; fill: rgb(64,169,255) }
.Temperature_10_8	{ stroke:none; fill: rgb(101,189,247) }
.Temperature_8_6	{ stroke:none; fill: rgb(0,103,140) }
.Temperature_6_5	{ stroke:none; fill: rgb(2,123,163) }
.Temperature_5_4	{ stroke:none; fill: rgb(0,155,186) }
.Temperature_4_3	{ stroke:none; fill: rgb(34,188,212) }
.Temperature_3_2	{ stroke:none; fill: rgb(103,219,230) }
.Temperature_2_1	{ stroke:none; fill: rgb(163,243,247) }
.Temperature_1_0	{ stroke:none; fill: rgb(212,255,255) }
.Temperature_0_1	{ stroke:none; fill: rgb(5,179,138) }
.Temperature_1_2	{ stroke:none; fill: rgb(2,212,149) }
.Temperature_2_4	{ stroke:none; fill: rgb(138,237,187) }
.Temperature_4_6	{ stroke:none; fill: rgb(204,255,208) }
.Temperature_6_8	{ stroke:none; fill: rgb(235,252,207) }
.Temperature_8_10	{ stroke:none; fill: rgb(235,255,122) }
.Temperature_10_12	{ stroke:none; fill: rgb(255,234,128) }
.Temperature_12_14	{ stroke:none; fill: rgb(247,212,35) }
.Temperature_14_inf	{ stroke:none; fill: rgb(66, 25, 100) }
