.rracc_1_2  { display: none }
.rracc_2_5  { display: none }
.rracc_5_10  { stroke: none; fill: #00ffff }
.rracc_10_20  { stroke: none; fill: #00f7c6 }
.rracc_20_30  { stroke: none; fill: #18d78c }
.rracc_30_40  { stroke: none; fill: #00aa64 }
.rracc_40_50  { stroke: none; fill: #2baa2b }
.rracc_50_60  { stroke: none; fill: #2bc82b }
.rracc_60_70  { stroke: none; fill: #00ff00 }
.rracc_70_80  { stroke: none; fill: #ccff00 }
.rracc_80_90  { stroke: none; fill: #ffff00 }
.rracc_90_100  { stroke: none; fill: #eded7e }
.rracc_100_110  { stroke: none; fill: #e4cc66 }
.rracc_110_120  { stroke: none; fill: #dcae49 }
.rracc_120_130  { stroke: none; fill: #dd9300 }
.rracc_130_140  { stroke: none; fill: #ff5500 }
.rracc_140_150  { stroke: none; fill: #ff0000 }
.rracc_150_160  { stroke: none; fill: #c80000 }
.rracc_160_170  { stroke: none; fill: #780000 }
.rracc_170_180  { stroke: none; fill: #780047 }
.rracc_180_190  { stroke: none; fill: #520448 }
.rracc_190_200  { stroke: none; fill: #32007f }
.rracc_200_300  { stroke: none; fill: #000082 }
.rracc_300_400  { stroke: none; fill: #0033b4 }
.rracc_400_500  { stroke: none; fill: #0000ff }
.rracc_500_600  { stroke: none; fill: #007eff }
.rracc_600_inf  { stroke: none; fill: #00beff }